@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Noto+Sans+KR:wght@900&family=Pacifico&family=Roboto:wght@300&display=swap');

html {
	background-color: #FAFAFA
}

body {
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	font-family: Roboto,Helvetica Neue,sans-serif;
}

.menu-training:before{
	bottom: 0 !important;
	display: block !important;
	height: 3px !important;
	background-color: #244C1E !important;
	opacity: 1 !important;
	width: 100% !important;
}

.menu-training:after{
	left: 0 !important;
	top: 0 !important;
	padding: 0.5em 0 !important;
	position: absolute !important;
	color: #244C1E !important; 
	white-space: nowrap !important;
	max-width: 0% !important;
	opacity: 1 !important;
	width: 100% !important;
}

.menu-training:visited {
	color: #244C1E !important; 
}

.container {
    width: 80%;
    height: 90vh;
    margin: auto;
    margin-top: 9em;
/*     margin-bottom: 10%; */
}

.statistics {
    float: left;
    width: 13%;
    margin-left: 2%;
    height: 100%;
}

table.type09 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    font-size: 0.9em;
}
table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #167426;
    border-bottom: 3px solid #167426;
}
table.type09 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid rgb(224, 224, 224);
    background: #f3f6f7;
    
}
table.type09 td {
    width: 100px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid rgb(224, 224, 224);
    text-align: center;
}

table.type09 .even {
    background: #efefef;
}

.correct-person-list {
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 5%;
}

.code-mirror {
    float: left;
    width: 45%;
/*     height: 100%; */
    height: 70%;
    margin-left: 3%;
}

.CodeMirror {
	height: 100%;
}

textarea {
    width: 99%;
    height: 60%;
}

.setting-selector {
	display: inline-block;
}
.theme {
    width: 155px;
    height: 35px;
    padding: .3em .3em;
    font-family: inherit;
    font-size: 1em;
    background: no-repeat 95% 50%;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 0px;
    display: block;
    margin-bottom: 10px;
    float: left;
}

#font-size {
    width: 155px;
    height: 35px;
    padding: .3em .3em;
    font-family: inherit;
    font-size: 1em;
    background: no-repeat 95% 50%;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 0px;
    display: block;
    margin-bottom: 10px;
    float: left;
}

.language {
    width: 155px;
    height: 35px;
    padding: .3em .3em;
    font-family: inherit;
    font-size: 1em;
    background: no-repeat 95% 50%;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 0px;
    display: block;
    margin-bottom: 10px;
}

#footer {
	float: left;
	width: 100%;
	margin-top : 30px;
}

.footer {
    display: flow-root;
	margin: auto;
	padding: 60px 0;
	left: 0;
	bottom: 0;
	width: 61%;
    background-color: #fAFAFA;
	color: #3C3C3C;
	text-align: center;
	border-top: 1px solid #BFBFBf
}

.CodeMirror-gutters {
	z-index: 1 !important;
}
