html, body{height:100%;}
.content {
    width: 60vw;
    margin: auto;
    margin-top: 6%
}
.header {
	background-image: url('../../images/main/autumn.jpg');
    background-position-y: 22%;
}
.footer{
	position:absolute;
	width:100%;
	background-color: #454545;
	color: #fff;
	text-align: center;
}

.problems {
	margin: 1em;
    height: 60vh;
    border: 1px solid #b2b2b2;
    border-radius: 0.5rem;
    padding: 2em;
}

 .problem-box {
    float: left;
    width: 305px;
    height: 150px;
    margin: 15px 23px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    overflow: hidden;
    border-top: 1px solid #cfcfcf;
}
.problem-box:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.problem-no {
    width: 10%;
    text-align: center;
    border: 1px #7A8B9B;
    color: #000;
    border-radius: 15px;
    margin-top: 7px;
    font-weight: bold;
}
.problem-title {
	margin:20px auto;
	margin-left: 5px;
}

.problem-user {
	float:right;
	margin: 28px auto 8px;
	margin-right: 4px;
} 

.pager {
    width: 90%;
    float: left;
    margin: 2.5% 0 0% 4%;
    text-align: center;
}

.page {
    text-decoration: none;
    padding: 0px 10px;
}

.pager b {
    color: #ca6d03;
}
input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../images/search.png');
    background-size: 40px;
    background-position: 5px 1px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 55px;
    color: #999999;
    margin-top: 1px;
}
.search {
    margin-top: 10px;
    margin-left: 15px;
}

#search {
    background-color: #dfdfdf;
    border: none;
    color: #6e6e6e;
    padding: 10px 10px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border: 1.5px #dfdfdf solid;
    cursor: pointer;
}

#search:hover {
    background-color: #BFB5A0;
    color: #fff;
    border: 1.5px #BFB5A0 solid;
}

.top-right-arrow {
	width: 25px;
	height: 25px;
	float: right;
	margin-top: -23px;
}

.page, .next, .prev {
	position: relative;
    display: inline-block;
    padding: .53125rem .84375rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #90929e;
	cursor: pointer;
}

.sub-problem-count {
	float: left;
}