@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.menu-codetree:before{
	bottom: 0 !important;
	display: block !important;
	height: 3px !important;
	background-color: #244C1E !important;
	opacity: 1 !important;
	width: 100% !important;
}

.menu-codetree:after{
	left: 0 !important;
	top: 0 !important;
	padding: 0.5em 0 !important;
	position: absolute !important;
	color: #244C1E !important; 
	white-space: nowrap !important;
	max-width: 0% !important;
	opacity: 1 !important;
	width: 100% !important;
}

.menu-codetree:visited {
	color: #244C1E !important; 
}

.content {
    width: 60vw;
    margin: auto;
    margin-top: 6%
}
.header {
	background-image: url('../../images/main/autumn.jpg');
    background-position-y: 22%;
}
#footer {
	float: left;
	width: 100%;
	margin-top : 30px;
}

.footer {
    display: flow-root;
	margin: auto;
	padding: 60px 0;
	left: 0;
	bottom: 0;
	width: 60%;
    background-color: #fAFAFA;
	color: #3C3C3C;
	text-align: center;
	border-top: 1px solid #BFBFBf;
	margin-top: 10em;
}

.nothing-save-problem {
    width: 20em;
    margin: 7em auto;
    color: #777;
    text-align: center;
}

.move-to-training {
    margin-top: 1em;
    font-size: 0.95em;
}

.training-start {
	color: #0A93E2;
	text-decoration: none;
	font-size: 0.95em;
}

.training-start:hover {
	text-decoration: underline;
}

.problems {
	margin: 1em;
    height: 83vh;
    border: 1px solid #b2b2b2;
    border-radius: 0.5rem;
    padding: 1.5em 2em 2em 2em;
}

 .problem-box {
    float: left;
    width: 305px;
    height: 150px;
    margin: 15px 11px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    overflow: hidden;
    border-top: 1px solid #cfcfcf;
    padding: 12px;
}
.problem-box:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.problem-no {
    width: 10%;
    text-align: center;
    border: 1px #7A8B9B;
    color: #000;
    border-radius: 15px;
    font-weight: bold;
}
.problem-title {
	margin:20px auto;
	margin-left: 5px;
	margin-top: 7px;
}

.problem-user {
	float:right;
	margin: 0px auto 8px;
	margin-right: 4px;
} 

.pager {
    width: 90%;
    float: left;
    margin: 2.5% 0 0% 4%;
    text-align: center;
}

.page {
    text-decoration: none;
    padding: 0px 10px;
}

.pager b {
    color: #ca6d03;
}
input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../images/search.png');
    background-size: 40px;
    background-position: 5px 1px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 55px;
    color: #999999;
    margin-top: 1px;
}
.search {
    margin-top: 10px;
    margin-left: 15px;
}

#search {
    background-color: #dfdfdf;
    border: none;
    color: #6e6e6e;
    padding: 10px 10px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border: 1.5px #dfdfdf solid;
    cursor: pointer;
    margin-left: 1em;
}

#search:hover {
    background-color: #BFB5A0;
    color: #fff;
    border: 1.5px #BFB5A0 solid;
}

.top-right-arrow {
	width: 25px;
	height: 25px;
	float: right;
	margin-top: -23px;
}

.page, .next, .prev {
	position: relative;
    display: inline-block;
    padding: .53125rem .84375rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #90929e;
	cursor: pointer;
}

.subproblem-category-writer-content {
	margin-left: 26px;
	margin-top: 34px;
}

.sub-problem-count-title {
	float: left;
	color: #0078FF;
	text-align: center;
	font-size: 0.9em;
}

.sub-problem-count {
	color: #222;
    margin-top: 11px;
    text-align: center
}

.category {
	margin-left: 20px;
    float: left;
    color: #0078FF;
    border-left: 0.0625rem solid #D7E2EB;
    width: 4em;
    padding-left: 20px;
    text-align: center;
    font-size: 0.9em;
}

.category-title {
	color: #222;
    margin-top: 11px;
    text-align: center;
}

.writer {
	margin-left: 20px;
    float: left;
    color: #0078FF;
    border-left: 0.0625rem solid #D7E2EB;
    width: 4em;
    padding-left: 20px;
    text-align: center;
    font-size: 0.9em;
}

.writer-title {
	color: #222;
    margin-top: 11px;
    text-align: center;
}

.img {
	width: 22em;
    float: right;
    margin-right: 3em;
}

.explain-div {
	height: 11em;
}

.explain {
	display: inline-block;
    width: 36em;
    margin-left: 1.3em;
    margin-top: 1.5em;
}

.title-strong {
	font-weight: bold;
    font-size: 1.5em;
}
